#product-card:hover {
    box-shadow: 1px 1px 10px #4fa74f;
    transition: all 0.5s;
    border-radius: 10px
   }
   
   #btn-add{
       display: none;
       transform: translateY(100px);
   }
   #product-card:hover #btn-add{
       display: block;
       transition: all 0.5s;
       transform: translateY(-10px);
   
   }
   i{
    cursor: pointer;
   }