<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>

<!--  Main Slider -->

<app-main-slider></app-main-slider>
<!-- End of Main Slider -->



<!-- Categories Slider -->

<div class="container-fluid ">
    <owl-carousel-o [options]="customOptions">

        <ng-container *ngFor="let data of catData">
          <ng-template carouselSlide [id]="data.id">
            <img [src]="data.image" [alt]="data.alt" [title]="data.name" class="w-100" height="250">
            <h5 class="text-center pt-3 fw-bold">{{data.name}}</h5>
          </ng-template>
        </ng-container>
    
      </owl-carousel-o>

</div>
<!-- End of Categories Slider -->

        

<!-- Products -->

<div class="my-5">
    <input  class="form-control w-75 m-auto" placeholder="search" type="text" [(ngModel)]="searchvalue">

    <div class="row">

            <div  id="product-card" class="col-3 my-5 p-2" *ngFor="let data of ProductData |searchh:searchvalue " >
                <a [routerLink]="['/details',data._id]">
                <div>
                    <img [src]="data.imageCover" alt="Category-image" class="w-100 " />
                    <p class="text-success py-1">{{data.category.name}}</p>
                    <p class="fw-bold">{{data.title}}</p>
                    <p>{{data.price}} EGP</p>
                    <div class="float-end">
                        <i class="fa-solid fa-star p-2 text-warning"></i><span>{{data.ratingsAverage}}</span>
                    </div>
                    <br>
                    <div class="float-end pt-2 ">
                        <i class="fa-regular fa-heart text-success fs-4"></i>
                        
    
                    </div>
                    <br>
                    <div class="text-center pt-4" id="btn-add">
                        <button class="btn btn-success text-center w-75" (click)="addTocart(data._id)"><i class="fa-solid fa-plus"></i> Add</button>
                    </div>
                </div>
            </a>
       
    
            </div>
        
       

    </div>
</div>
        
<!-- End of  Products -->



 
</body>
</html>