<div class="mt-5 forgetPassword">
    <h2 class="py-4  fw-bold">Please enter your verification code</h2>
    <form (ngSubmit)="forgotPassword(ForgotForm)" [formGroup]="ForgotForm">
        <input  type="email" class="form-control my-4" placeholder="Email" formControlName="email">
        <p class="text-success fw-bold" *ngIf="successMessage.length>0">{{successMessage}}</p>
        <p class="text-danger fw-bold" *ngIf="FailMessage.length>0">{{FailMessage}}</p>
        <button class="btn btn-outline-success" >Verify</button>



    </form>

    
</div>


<div class="mt-5 d-none  verfiy">
    <h2 class="py-4  fw-bold">Reset your account password</h2>
    <form (ngSubmit)="verifyCode(VerifyForm)" [formGroup]="VerifyForm">
        <input  type="email" class="form-control my-4" placeholder="Code" formControlName="resetCode">
        <button class="btn btn-outline-success" >Verify</button>



    </form>

    
</div>